# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.directory
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# AWS
.aws/
*.pem

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
*.log

# Specific to this project
aurora-endpoints.json
proxysql-endpoints.json
